<form action="/articles/create" method="post" accept-charset="utf-8">
	<div><label for="title">Title</label><input type="text" name="title" value="<%= @article.title %>"></div>
	<div><select name="category_id" id="category_id">
		<% @categories.each do |c| %>
		<option value="<%= c.id %>" select="<%= @article.category_id == c.id ? "true" : "false" %>"><%= c.value %></option>
		<% end %>
	</select></div>
	<div><textarea name="content">
		<%= @article.content %>
	</textarea></div>
	<div><input type="submit" name="submit" value="提交" id="submit"></div>
</form>